<nav class="navbar sticky-top navbar-dark bg-dark py-3">
  <div class="container-fluid px-4">
    <a class="navbar-brand" routerLink="" routerLinkActive="router-link-active" >NIKE</a>
    <div class="d-flex">
      <a class="text-light text-decoration-none p-2 mx-3  align-items-center d-flex " routerLink="/allProducts" routerLinkActive="router-link-active" *ngIf="role"><mat-icon class="align-middle text-center me-2">shopping_bag</mat-icon> Products</a>
      <a class="text-light text-decoration-none p-2 ms-3 me-4  align-items-center d-flex " routerLink="/addProduct" routerLinkActive="router-link-active" *ngIf="role=='ADMIN'" ><mat-icon class="align-middle text-center me-2">add_circle</mat-icon> Product</a>
      <a class="text-light text-decoration-none p-2 ms-3 me-4  align-items-center d-flex " routerLink="/allOrder" routerLinkActive="router-link-active" *ngIf="role=='ADMIN'" ><mat-icon class="align-middle text-center me-2">all_inbox</mat-icon> All Order</a>
      <a class="text-light text-decoration-none p-2 mx-3 d-flex position-relative align-items-center" routerLink="/addProduct" routerLinkActive="router-link-active" *ngIf="role=='USER'" (click)="cart()">
        <mat-icon class="align-middle text-center me-2">shopping_cart</mat-icon> Cart
      </a>
      <button class="btn btn-outline-light ms-3" *ngIf="!role" routerLink="/login">Login</button>
      
      <li class="dropdown d-flex align-items-center" *ngIf="role">
        <button class="btn btn-outline-light dropdown-toggle no-caret d-flex align-items-center py-2" id="navbarDropdown"  data-bs-toggle="dropdown"><mat-icon class="align-middle text-center me-1">account_circle</mat-icon> Profile</button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink="/editUser"><mat-icon class="text-center align-middle me-3">edit</mat-icon>Edit Profile</a></li>
          <li><a class="dropdown-item" *ngIf="role=='USER'" routerLink="/orders"><mat-icon class="text-center align-middle me-3">all_inbox</mat-icon>My Orders</a></li>
          <li><hr class="dropdown-divider"></li>
          <li class="d-flex align-items-center"><a class="dropdown-item" (click)="signOut()"><mat-icon class="text-center align-middle me-3">exit_to_app</mat-icon>Sign Out</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>
<div>
  <div><router-outlet></router-outlet></div>
</div>


